body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f4f7f8;
    margin: 0;
    padding: 0;
}

/* ===== HEADER ===== */
header {
    background: linear-gradient(90deg, #063125, #109686);
    color: #fff;
    text-align: center;
    padding: 25px 0;
}

header img {
    display: block;
    margin: 0 auto 10px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

header h1 {
    font-size: 1.8rem;
    margin: 5px 0 0 0;
}

header h2 {
    font-weight: 400;
    margin-top: 5px;
    font-size: 1.1rem;
    opacity: 0.95;
}

.marca {
    color: #ffc107;
}

/* ===== CARD ===== */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.card {
    background: #fff;
    text-align: center;
    padding: 40px;
    width: 420px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    animation: fadeIn .4s ease-in-out;
}

.card.success h2 { color: #28a745; }
.card.error h2 { color: #dc3545; }

.card p {
    color: #333;
    font-size: 1rem;
    margin: 15px 0;
}

/* ===== BOTONES ===== */
.btn {
    display: inline-block;
    background-color: #007bff;
    padding: 10px 18px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover { background-color: #0056b3; }

.btn-rojo {
    background-color: #dc3545;
}

.btn-rojo:hover {
    background-color: #a71d2a;
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    background: linear-gradient(90deg, #063125, #109686);
    color: #fff;
    padding: 18px 0;
    font-size: 0.9rem;
    margin-top: 234px;
    border-top: 2px solid #054733;
}

footer p {
    margin: 0;
    opacity: 0.9;
}

/* ===== ANIMACIÓN ===== */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}